<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cookie Bookie</title>
    <base href="/">
    <link rel="stylesheet" href="/css/posts/cards.css">
</head>

<body>
    <%- include('../includes/navbar') %>

        <h1>All Posts are </h1>
        <% posts.forEach(data=>{ %>

            <div class="card">
                <img src="<%= data.image %>" alt="Avatar" style="width:100%;height:100%">
                <div class="container">
                    <h4><b>"<%= data.name %>"</b></h4>

                    <span><%= data.bidList.length %> bids</span><br>
                    <span>from <%= data.location %></span>
                </div>
            </div>

            <%= JSON.stringify(data) %>
                <hr>
                <% }) %>
</body>

</html>


{"_id":"614b2aa557995a9da4d79850","title":"masala dosa","description":"a tasty version of masala dosa ""message":"please eat this ","minAskingPrice":"12","highestBid":"123","biddingEnd":"2021-09-22","location":"hyderabad","egglessOrEgg":"egg","bakedTime":"2021-09-22T13:06:02.640Z","likes":[],"__v":0}
fullname, username, phone, email, password, nameOfBusiness, GSTIN, location,