<%- include('includes/navbar') %>
    <% if(typeof error!=='undefined'){ %>
        <%= error %>
            <% } %>

                <form action="/user/updateProfile" name="form" method="POST" id="registration-form">

                    <input name="fullname" type="text" id="fullname" placeholder="Full name" value="<%=user.fullname %>" autocomplete="off" maxlength=30 required>

                    <input type="text" name="username" id="username" placeholder="username" value="<%=user.username %>" pattern="[a-zA-Z0-9]{3,12}" required oninput="checkUsername(this)">
                    <input name="phone" type="tel" id="phone" placeholder="888888888" value="<%=user.phone %>" pattern="[0-9]{10}" autocomplete="off" maxlength="12" required oninput="checkPhone(this)">
                    <input type="email" name="email" id="email" placeholder="email(optional)" value="<%=user.email %>" oninput="checkEmail(this)">
                    <input name="password" type="password" id="password" placeholder="Four Digit Pin" value="<%=user.password %>" autocomplete="off" required>

                    <h1> Enter Your Role</h1>
                    <label>
<input type="radio" name="role" value="Seller" id="Seller" onclick="changeRole(this)" checked>Seller
</label>
                    <label>
<input type="radio" name="role" value="Buyer" id="Buyer" onclick="changeRole(this)"> Buyer
</label>
                    <label>
<input type="radio" name="role" value="Both" id="Both" onclick="changeRole(this)"> Both
</label>

                    <div id="sellerSpecial" hidden>

                        <h1>Additional info(only for sellers)</h1>
                        <input type="text" name="businessName" id="businessName" placeholder="Name of Business" value="<%=user.nameOfBusiness %>">
                        <input type="text" name="GSTIN" id="GSTIN" placeholder="GSTIN Number" value="<%=user.GSTIN %>" pattern="[a-zA-Z0-9]{8}">
                        <input type="text" name="location" id="location" placeholder="location" value="<%=user.location %>">

                    </div>
                    <button type="submit">Update</button>
                </form>
                here
                <%= user %>
                    <script>
                        let currType = <%- JSON.stringify(user.role) %>;
                        document.getElementById(currType).checked = true;
                        if (document.form.role.value != "Buyer") {
                            document.getElementById("sellerSpecial").hidden = false;
                            document.getElementById("location").required = true;
                        }

                        function changeRole(event) {
                            if (event.value != "Buyer") {
                                document.getElementById("sellerSpecial").hidden = false;
                                document.getElementById("location").required = true;
                            } else {
                                document.getElementById("sellerSpecial").hidden = true;
                                document.getElementById("location").required = false;
                            }
                        }

                        function check(event, type) {
                            let url = `/user/${type}updateCheck?${type}=${event.value}`;
                            fetch(url).then(function(response) {
                                    return response.json();
                                })
                                .then(function(body) {
                                    //doSomething with body;
                                    if (body.message == type + " exists") {

                                        event.setCustomValidity(type + " already exists")
                                        return false
                                    } else {
                                        event.setCustomValidity("")

                                    }
                                });
                        }

                        function checkUsername(event) {
                            check(event, 'username')
                        }

                        function checkPhone(event) {
                            check(event, 'phone');
                        }

                        function checkEmail(event) {
                            check(event, 'email');
                        }
                    </script>